<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/dash.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>EmpreCrédito | Início</title>
</head>

<body>
    <header>
        <h1>Filipe Souza</h1>
        <p>232.323.001-76</p>
    </header>
    <div class="container selected" id="land-page">
        <div id="pic"></div>

        <p>Sua pontuação é de 720. Isso significa que consideramos seu perfil acima do esperado. Isso irá facilitar para que consiga seu crédito com as melhores condições.</p>

        <label for="progress"><strong>Pontuação</strong></label>
        <div class="progress points" id="progress">
            <div class="progress-bar point-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><strong>720</strong></div>
        </div>

        <div class="card empresas">
            <div class="empresa">
                <strong class="text-muted">Nome:</strong>
                <p>EMPRESA X</p>
            </div>

            <div class="empresa">
                <strong class="text-muted">Segmento:</strong>
                <p>Segmento da empresa</p>
            </div>

            <div class="empresa">
                <strong class="text-muted">Dados da empresa</strong>
                <p>Dados</p>
            </div>
        </div>

        <a href="solicitar-credito" id="solicitar" class="btn btn-primary">Solicitação de Crédito</a>

    </div>


    <div id="courses-page" class="container">
        <p>Te recomendamos fazer estes cursos para progredir ainda mais com seu negócio. E só pra lembrar, cada curso feito poderá aumentar um pouquinho seu score</p>

        <div class="courses">
            <div class="card col-md-6" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gestão financeira - Sebraee</h5>
                <p class="card-text">O curso Gestão financeira possibilita que você consiga fazer a análise e o controle das atividades financeiras da sua empresa. </p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>

            <div class="card col-md-6" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gestão financeira - Sebraee</h5>
                <p class="card-text">O curso Gestão financeira possibilita que você consiga fazer a análise e o controle das atividades financeiras da sua empresa. </p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
        </div>

            <div class="card col-md-6" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gestão financeira - Sebraee</h5>
                <p class="card-text">O curso Gestão financeira possibilita que você consiga fazer a análise e o controle das atividades financeiras da sua empresa. </p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="option" id="credit">
            <i class="fas fa-money-check-alt"></i>
            <small class="text-muted">Crédito</small>
        </div>
        <div class="option" id="education">
            <i class="fas fa-book"></i>
            <small class="text-muted">Educação</small>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <script>
        const credit = document.querySelector('#credit')
        const educ = document.querySelector('#education')
        const land_page = document.querySelector('#land-page')
        const courses_page = document.querySelector('#courses-page')

        credit.addEventListener('click', (e) => {
            if (land_page.classList.contains('selected')) {
                e.preventDefault()
            } else {
                land_page.classList.add('selected')
                courses_page.classList.remove('selected')
                credit.style.color = 'blue'
                educ.style.color = 'black'
            }
        })

        educ.addEventListener('click', (e) => {
            if (courses_page.classList.contains('selected')) {
                e.preventDefault()
            } else {
                courses_page.classList.add('selected')
                land_page.classList.remove('selected')
                educ.style.color = 'blue'
                credit.style.color = 'black'
            }
        })

        window.addEventListener('load', () => {
            if (window.localStorage.getItem('emp')) {
                document.querySelector('#solicitar').innerText = 'Ver Propostas de Crédito'
                document.querySelector('#solicitar').style.background = 'orange'
                document.querySelector('#solicitar').href = 'https://emprecredito.herokuapp.com/status-da-solicitacao-de-credito'
            }
        })


    </script>
</body>

</html>