<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/dash.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>EmpreCrédito | Início</title>
</head>

<body>
    <header>
        <h1>Filipe Souza</h1>
        <p>232.323.001-76</p>
    </header>
    <div class="container" style="padding-top: 17vh;">
        <h2>Status da solicitação</h2>
        <p>Os seguintes parceiros estão fazendo oferta de crédito para você</p>

        <div class="card col-md-6" style="width: 18rem;">
            <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQEHe95ExdBYhA/company-logo_200_200/0?e=2159024400&v=beta&t=nQGHV1vDgxogJtgQzIPahAJeH92GfCiF9Y9a-fNgqnU" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">AUT Bank</h5>
                <p class="card-text">AUT Bank Sandbox</p>
                <a href="#" class="btn btn-primary">Ver proposta</a>
            </div>
        </div>

        <div class="card col-md-6" style="width: 18rem;">
            <img src="https://s3-eu-west-1.amazonaws.com/psd2e/client-logo/mybank-obie.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">OBIE Bank</h5>
                <p class="card-text">OBIE Bank Sandbox</p>
                <a href="#" class="btn btn-primary">Ver proposta</a>
            </div>
        </div>
    </div>

</body>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</html>