header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 23vh;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70% 10%;
}

#pic {
    height: 8rem;
    width: 8rem;
    background: #CCC;
    border-radius: 50%;
    position: absolute;
    top: 18vh;
}

.container {
    max-width: 90%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15rem 0 8rem;
    grid-row: 1/3;
    grid-column: 1/2;
}

.progress {
    width: 100%;
}

.point-bar {
    position: relative;
    background: linear-gradient(90deg, #FF0000 0%, #ffee00 25%, #b3ff00 60%, #00ff1e 110%);
    color: #000;
    font-size: 1rem;
}

.point-bar strong {
    position: absolute;
    right: 27%;
}

.card {
    min-width: 40%;
    min-height: 20%;
    margin-top: 2rem;
}

.option {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.option:hover {
    background: #d5d5d5;
}

#credit {
    color: blue;
}

.btn {
    margin-top: 3rem;
}

#courses-page p {
    width: 80%;
}

#courses-page.selected {
    opacity: 1;
    pointer-events: all;
}

#land-page.selected {
    opacity: 1;
    pointer-events: all;
}

#land-page {
    opacity: 0;
    pointer-events: none;
}

#courses-page {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.courses {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 5rem;
}

.courses .card {
    width: 10rem;
    height: 10rem;
}

footer {
    height: 3rem;
    width: 100%;
    background: #F0F0F0;
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
}